@model IEnumerable<Category>


<li class="dropdown">
    <a href="#" class="dropdown-toggle  nav-link" data-toggle="dropdown" role="button"
       aria-expanded="false">TASARIMLARIM</a>
    <ul class="dropdown-menu " role="menu">

        @foreach (var item in Model)
        {

            <li><a href="#" class="nav-link ml-3">@item.Name</a></li>

        }
    </ul>

</li>