
<div class="container-fluid">
    <div class="row">
        <form asp-action="Index"  method="get" class="form-inline my-2 my-lg-0">
            <div class="col-8">
                <input id="q" name="q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </div>
            <div class="col-2">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </div>
        </form>
    </div>
</div>